{% extends 'Chicago/base.html' %}

{% block contenido %}
    <h1>Acerca de mi</h1>
    <p> Chica.go! es una tienda de ropa femenina creada en el año 2022 en la ciudad de Rio Grande.</p>
    <p>Actualmente nuestra sucursal se encuentra en Laserre 459 donde te esperamos de lunes a sabados de 10hs a 12:30hs y de 16hs a 21hs</p>
    <p>Podes seguirnos en nuestro IG: https://www.instagram.com/chicas.go24/</p>
    <p>O contactarnos por consultas y compras al +5942964628695</p>
{% endblock contenido %}