
{% extends 'Chicago/base.html' %}
{% load static %}
{% block contenido %}
    <h1>Acerca de nosotros</h1>
    <img src="{% static 'Chicago/img/file.png' %}" alt="imagen" height="200px">
    <p> Estilo, tendencia y calidad es nuestro lema.</p>
    <p>Estamos ubicados en Laserre 459, Rio Grande, Tierra del fuego.</p>
    <p>Comunicate con nosotros al +5492964-628695</p>
    <p>O visitanos en nuestro 
        <a href="https://www.instagram.com/chicas.go24/" target="_blank">Instagram</a>
    </p>
    <p>Te esperamos!</p>
    
    
    <br>
    <a href="{% url 'Chicago:index' %}"><button>Volver al menú principal</button></a>
{% endblock contenido %}
