{% extends 'Chicago/Base.html' %}

{% block contenido %}
    <div class="container mt-5">
        <h1>Detalles de la Venta</h1>
        <ul class="list-group">
            <li class="list-group-item"><strong>Nombre:</strong> {{ object.nombre }}</li>
            <li class="list-group-item"><strong>Email:</strong> {{ object.email }}</li>
            <li class="list-group-item"><strong>Teléfono:</strong> {{ object.telefono }}</li>
        </ul>

        <div class="mt-4">
            <a href="{% url 'Chicago:index' %}" class="btn btn-secondary">Volver al Menú Principal</a>
        </div>
    </div>
{% endblock contenido %}
