{% extends 'Chicago/base.html' %}
{% load static %}

{% block contenido %}
    <h1>CRM diario.</h1>
    
    {% for mensaje in messages %}
        <p>{{ mensaje }}</p>
    {% endfor %}

<!-- Heading Row-->
<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7"><img src="{% static 'Chicago/img/local.jpeg' %}" alt="imagen" height="400px"></div>
    <div class="col-lg-5"> 
        <h1 class="font-weight-light">Bienvenidos a Chicago.</h1>
        <p>En Chicago creemos que la moda es mucho más que ropa: es una forma de expresión, confianza y autenticidad. Por eso, nos dedicamos a ofrecerte las últimas tendencias en indumentaria femenina con prendas diseñadas para resaltar tu estilo único y acompañarte en cada momento especial.

            Nuestro compromiso va más allá de la moda. Trabajamos cada día para que encuentres en Chicago un espacio donde calidad, diseño y accesibilidad se encuentren. Además, contamos con facilidades de pago pensadas para que renovar tu guardarropa sea tan sencillo como emocionante.
            
            Desde prendas básicas hasta looks para eventos inolvidables, en Chicago tenemos todo lo que necesitas para sentirte increíble. Te invitamos a explorar nuestra colección, descubrir promociones exclusivas y sumarte a nuestra comunidad de mujeres que inspiran.
        </p>
        <a class="btn btn-primary" href="#!">Call to Action!</a>
    </div>
</div>
<!-- Call to Action-->
<div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
</div>
<!-- Content Row-->
<div class="row gx-4 gx-lg-5">
    {% include 'Chicago/componente/card.html' with titulo="Tarjeta 1" contenido="Contenido de prueba para la tarjeta 1" %}
    {% include 'Chicago/componente/card.html' with titulo="Tarjeta 2" contenido="Contenido de prueba para la tarjeta 2" %}
    {% include 'Chicago/componente/card.html' with titulo="Tarjeta 3" contenido="Contenido de prueba para la tarjeta 3" %}
</div>
{% endblock contenido %}
