{% extends 'Chicago/base.html' %}
{% load static %}

{% block contenido %}
    <h1>Bienvenido al CRM de CHICAGO!</h1>
    <div>
        <!-- Botones visibles para usuarios no autenticados -->
        {% if not user.is_authenticated %}
            <a href="{% url 'Chicago:login' %}">
                <button>Iniciar Sesión</button>
            </a>
            <a href="{% url 'Chicago:about' %}">
                <button>About us</button>
            </a>
        {% endif %}

        <!-- Botones visibles solo para usuarios autenticados -->
        {% if user.is_authenticated %}
            <a href="{% url 'Chicago:Productos_list' %}">
                <button>Stock</button>
            </a>
            <a href="{% url 'Chicago:Ventas_list' %}">
                <button>Ventas</button>
            </a>
            <a href="{% url 'Chicago:Clientes_list' %}">
                <button>Clientes</button>
            </a>
            <a href="{% url 'Chicago:about' %}">
                <button>About us</button>
            </a>
            <form action="{% url 'Chicago:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Cerrar Sesión</button>
            </form>
        {% endif %}
    </div>

    <!-- Mensajes -->
    {% for mensaje in messages %}
        <p>{{ mensaje }}</p>
    {% endfor %}


{% endblock contenido %}
