{% extends 'Chicago/base.html' %}

{% block contenido %}
    <h1>Lista de Productos</h1>
    <a href="{% url 'Chicago:Productos_create' %}"><button>Cargar Producto</button></a>
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in objects_list %}
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.categoria }}</td>
                    <td>${{ producto.precio }}</td>
                    <td>{{ producto.stock }}</td>
                    <td>
                        <a href="{% url 'Chicago:Productos_update' pk=producto.id %}"><button>Actualizar</button></a>
                        <a href="{% url 'Chicago:Productos_delete' producto.id %}"><button>Eliminar</button></a>
                    </td>
                </tr>
            {% empty %}
            <tr>
                <td colspan="5">No hay datos disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{% url 'Chicago:index' %}"><button>Volver al menú principal</button></a>
{% endblock contenido %}
