{% extends 'Chicago/Base.html' %}

{% block contenido %}
   
    <h1>Productos: Detalles</h1>
        <ul>
            <li><strong>nombre: </strong> {{ object.nombre }}</li>
            <li><strong>categoria: </strong> {{ object.categoria }}</li>
            <li><strong>precio: </strong> {{ object.precio }}</li>
            <li><strong>stock: </strong> {{ object.stock }}</li>
        </ul>
        <br>
    <a href="{% url 'Chicago:index' %}"><button>Volver a la pagina principal</button></a>
    
{% endblock contenido %}