{% extends 'Chicago/base.html' %}

{% block contenido %}
    <div class="container py-5">
        <div class="card p-4 shadow-lg">
            {% if form.instance.pk %}
                <h3 class="text-center mb-4">Ventas: Modificar Registro</h3>
            {% else %}
                <h3 class="text-center mb-4">Ventas: Formulario de Creación</h3>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary btn-lg">Cargar Venta</button>
                </div>
            </form>
            <div class="text-center mt-4">
                <a href="{% url 'Chicago:index' %}" class="btn btn-secondary btn-lg">Volver al menú principal</a>
            </div>
        </div>
    </div>
{% endblock contenido %}
