{% extends 'Chicago/base.html' %}

{% block contenido %}
    <h1>Registro de ventas</h1>
    <a href="{% url 'Chicago:Ventas_create' %}"><button>Cargar Venta</button></a>
    <table border="1">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Fecha</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for venta in objects_list %}
                <tr>
                    <td>{{ venta.cliente }}</td>
                    <td>{{ venta.producto }}</td>
                    <td>{{ venta.cantidad }}</td>
                    <td>{{ venta.fecha_venta }}</td>
                    <td>${{ venta.precio_total }}</td>
                    <td>
                        <a href="{% url 'Chicago:Ventas_detail' venta.id%}"><button>Ver</button></a>                  
                        <a href="{% url 'Chicago:Ventas_update' venta.id %}"><button>Editar</button></a>
                        <a href="{% url 'Chicago:Ventas_delete' venta.id %}"><button>Eliminar</button></a>
                    </td>                    
                </tr>
            {% empty %}
            <tr>
                <td colspan="5">No hay datos disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{% url 'Chicago:index' %}"><button>Volver al menú principal</button></a>
{% endblock contenido %}
