{% extends 'Chicago/Base.html' %}

{% block contenido %}
   
    <h1>Ventas: Detalles</h1>
        <ul>
            <li><strong>Cliente: </strong> {{ object.cliente }}</li>
            <li><strong>Producto: </strong> {{ object.producto }}</li>
            <li><strong>Cantidad: </strong> {{ object.cantidad }}</li>
            <li><strong>Fecha: </strong> {{ object.fecha }}</li>
            <li><strong>Total: </strong> {{ object.total }}</li>
        </ul>
        <br>
    <a href="{% url 'Chicago:index' %}"><button>Volver a la pagina principal</button></a>
    
{% endblock contenido %}