{% extends 'Chicago/base.html' %}

{% block contenido %}
    <div class="container py-5">
        <div class="card p-4 shadow-lg text-center">
            <h3 class="mb-4 text-danger">Ventas: Eliminación de Registro</h3>
            <p class="lead">¿Estás seguro de que deseas eliminar <strong>"{{ object }}"</strong>?</p>
            <form method="post" class="mt-4">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-lg">Sí, confirmar</button>
            </form>
            <div class="mt-4">
                <a href="{% url 'Chicago:index' %}" class="btn btn-secondary btn-lg">Volver a la página principal</a>
            </div>
        </div>
    </div>
{% endblock contenido %}
